package views

templ Home() {
	@Page(true) {
		<h1 class="text-3xl font-bold text-center my-4">
			Car Show Example App
		</h1>
		<div class="flex justify-center my-8">
			<a href="/cars" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
				See Available Cars
			</a>
		</div>
		<div class="flex justify-center my-8">
			<p>
				This is a simple example app to demonstrate the use of Go + HTMX + Templ.
			</p>
		</div>
	}
}
